.App {
  text-align: center;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
}

.button {
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: rgb(235, 190, 42);
  box-shadow: 0 0 2px 1px #ccc;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.button:hover {
  background-color: rgb(255, 205, 43);
}

.button:active {
  background-color: rgb(172, 132, 0);
}

.button:disabled {
  background-color: rgba(235, 190, 42, 0.445);
}

.textContainer {
  width: 50%;
  margin: 50px auto;
}

.Red {
  color: #f11b1b
}